.notification {
  padding: #{$size-md}rem;
  margin-bottom: #{$size-md}rem;
  display: inline-block;
  width: 100%;
  border-radius: #{$size-md/8}rem;
  @each $type, $map in $variant-color-map {
    &--#{$type} {
      background-color: rgba(map-get($map, 'background-color'), 0.75);
      color: map-get($map, 'color');
      border: 0.1rem solid map-get($map, 'background-color');
    }
  }
}
