.TextInput {
  margin-bottom: #{$size-xs}rem;
  &.hasError {
    input {
      border: 1px solid $color-error;
    }
    small {
      color: $color-error;
    }
    label {
      color: $color-error;
    }
  }
}
