/**
 *  MAIN RULES
 */

*,
*::after,
*::before {
  box-sizing: border-box;
  outline: none;
}

body {
  min-height: 100%;
  overflow-x: hidden;
  position: relative;
}

p {
  font-weight: normal;
  margin-bottom: $size-md;
}

img {
  max-width: 100%;
}

strong {
  font-weight: $font-weight-bold;
}

ul {
  margin-bottom: $size-md;
}

li {
  margin-bottom: $size-xs;
  margin-left: $font-size-xl;
}

small {
  font-size: $font-size-xs;
  font-weight: $font-weight-regular;
  line-height: $line-height-xs;
}
