h1 {
  font-size: $fz-huge;
  line-height: $lh-huge;
  margin: $m-small 0;
  font-weight: $fw-bold;
}

h2 {
  font-size: $fz-huge;
  line-height: $lh-huge;
  margin: $m-small 0;
  font-weight: $fw-light;
}

h3 {
  font-size: $fz-big;
  line-height: $lh-big;
  margin: $m-small 0;
  font-weight: $fw-bold;
}

h4 {
  font-size: $fz-big;
  line-height: $lh-big;
  margin: $m-small 0;
  font-weight: $fw-light;
}

h5 {
  font-size: $fz-medium;
  line-height: $lh-medium;
  margin: $m-small 0;
  font-weight: $fw-bold;
}

h6 {
  font-size: $fz-small;
  line-height: $lh-small;
  margin: $m-small 0;
  font-weight: $fw-bold;
}

p {
  font-size: $fz-base;
  line-height: $lh-base;
  margin: $m-small 0;
  font-weight: $fw-normal;
}

small {
  font-size: $fz-small;
  line-height: $lh-small;
  margin: $m-small 0;
  font-weight: $fw-normal;
}

li {
  list-style: inside;
}
