@import 'color';
// FONT
$main-font: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

$font-weight-regular: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-light: 300 !default;

$breakpoint-xs: 320px !default;
$breakpoint-sm: 540px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 1024px !default;
$breakpoint-xl: 1280px !default;

//GRID
$grid-gutter-width: 30px !default;

$body-font-family: $main-font;
$body-font-size: 1.6em; // Currently ems cause chrome bug misinterpreting rems on body element
$body-line-height: 1.6;
$body-letter-spacing: 0.01em;
$body-font-weight: $font-weight-regular;

