// FONT
$main-font: 'Quicksand', sans-serif;

$font-weight-regular: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-light: 300 !default;

$breakpoint-xs: 320px !default;
$breakpoint-sm: 540px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 1024px !default;
$breakpoint-xl: 1280px !default;

//Sizes
$size-xs: 1 !default; //rem
$size-sm: 1.4 !default;
$size-md: 1.8 !default;
$size-lg: 2.6 !default;
$size-xl: 3 !default;

//Colors
//Design System
$color-lngrey: #ccc6c3;
$color-lngreengrey: #80938c;
$color-lndarkgrey: #28252a;
$color-lnred: #af0f0f;
$color-lnlightgrey: #f9f4ef;
$color-lnwhite: #ffffff;
$color-lnlblack: #000000;
//UX
$color-initial: $color-lnwhite !default;
$color-primary: $color-lnred !default;
$color-secondary: $color-lndarkgrey !default;
$color-tertiary: $color-lngreengrey !default;
$color-quaternary: $color-lngrey !default;
$color-quinary: $color-lnlightgrey !default;

//UI
$color-default: #272727 !default;
$color-success: #4caf50 !default;
$color-info: #03a9f4 !default;
$color-warning: #f0ad4e !default;
$color-error: #e73c3c !default;

//GRID
$grid-gutter-width: 30px !default;

$body-font-family: $main-font;
$body-font-size: 1.6em; // Currently ems cause chrome bug misinterpreting rems on body element
$body-line-height: 1.6;
$body-letter-spacing: 0.01em;
$body-font-weight: $font-weight-regular;
