@import 'utils/reset';

@import 'base/variables';
@import 'base/settings';

@import 'animate-sass/animate';

@import 'bootstrap/scss/mixins/breakpoints';
@import 'bootstrap/scss/mixins/grid-framework';
@import 'bootstrap/scss/mixins/grid';
@import 'bootstrap/scss/grid';

@import 'base/maps';

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

body,
button {
  font-family: $main-font;
  font-size: $font-size-sm;
  line-height: $line-height-sm;
}

@import 'base/defaults';

@import 'base/text';

@import 'base/headings';
@import 'base/colors';
@import 'base/table';

@import 'components/badge';
@import 'components/button';
@import 'components/notification';
